# tstlan ignore
__history
build
tstlan4grp.dsk
tstlan4_1.ini
Out
*.local
*.dsk
tstlan4.cgl
tstlan.skincfg

# irs global ignore
*.*~
*.SchDocPreview
*.bak
*.csv
*.dcu
*.dep
*.ewt
*.il?
*.map
*.obj
*.pbd
*.pbi
*.pch
*.r90
*.s90
*.tds
*.tmp
*.~*
irsconfig.h
irsconfig.h
lsprst7.*
sysprs7.*
tmpprst.*
~$*.*
~W*.tmp
/__history
/Desktop.ini
*.orig
*.ldb
